body{
text-align: center;
font-family: "courier";
background-color: #FDFDFD;
padding-left:200px;
padding-right:200px;
}
.container-left{
float:left;
width:50%;
}
.container-right{
width:50%;
float:right;
}
.nav {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #FDFDFD;
}
.list {
float: center;
}
li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover {
background-color: #111;
color: white;
}
.maintextclass {
font-size: 120%;
padding-top: 22px;
padding-left: 120px;
padding-right: 120px;
padding-bottom: 30px;
}
.bandimage1{
width:17.8%;
padding-bottom: 40px;
}
.bandimage2{
width:40%;
padding-bottom: 40px;
}
.bandtext{
padding-bottom: 40px;
}
table {
border: 100px;
border-color: black;
width: 100%;
}
th, td {
text-align: center;
padding: 8px;
border: 1px solid black;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
background-color: #FDFDFD;
color: black;
}
/*begin slide in keyframes*/
.fade-in {
-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
@keyframes fade-in {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}